
/* Typography */
$main-font: "NotoSansRegular", arial, helvetica, sans-serif;
$NotoSansBold: "NotoSansBold";
$VerdanaRegular: "VerdanaRegular";
$VerdanaBold: "VerdanaBold";
$AFuturaRoundBold: "AFuturaRoundBold";
$AFuturaRoundDemi: "AFuturaRoundDemi";

$font-size-base: 15px;
$line-height-base: 18px;

/*Background*/
$body-bg: #fff;

/*Color text*/
$text-color: #555;
$white-color: #fff;
$green-color: #3c9e2d;
$orange-color: #ec7404;