
/* Typography */
$main-font: "Scada", arial, helvetica, sans-serif;
$geometria-light-font: "Geometria-Light", arial, helvetica, sans-serif;
$geometria-bold-font: "Geometria-Bold", arial, helvetica, sans-serif;
$font-size-base: 18px;
$line-height-base: 24px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #fff;
$link-color: #fff;
$dark-gray: #3c3c3c;
$light-gray: #f5f5f5;
$white-color: #fff;
$red-color: #e65050;
$yellow-color: #ffdc00;
$blue-color: #71c4fd;